<!DOCTYPE html>
	<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>SIWBOOKS</title>
	    <link rel="stylesheet" href="/css/stile4.css?versione=4"/>
	 </head>
	<body>
	    <header class="main-header">
	        <div class="header-content">
	            <div class="logo">
	                <!-- Puoi aggiungere un logo immagine qui, o mantenere il testo -->
	                <span class="logo-icon">&#128218;</span> SIWBOOKS
	                <span class="tagline">BOOK REVIEWS</span>
	            </div>
	            <nav class="main-nav">
	                <ul>
	                    <li><a th:href="@{/login}">Login</a></li>
	                    <li><a th:href="@{/Register}">Register</a></li>
	                </ul>
	            </nav>
	        </div>
	    </header>
	
	    <main class="hero-section">
	        <div class="hero-background"></div> <!-- Sfondo per l'effetto sfocato/artistico -->
	        <div class="hero-text-content">
	            <h1>Benvenuto in <br>SiwBooks!</h1>
				<div class="card-container">
	                <a th:href="@{/books}" class="card">
	                    <h2>Libri</h2>
	                    <p>Esplora il nostro vasto catalogo.</p>
	                </a>
	                <a th:href="@{/authors}" class="card">
	                    <h2>Autori</h2>
	                    <p>Conosci gli scrittori.</p>
	                </a>
	            </div>
	            <!--<p></p>-->
	        </div>
	        
	    </main>
	
	    <footer class="main-footer">
	        <!-- Puoi aggiungere più contenuto qui per il footer -->
	        <p>&copy; 2025 SIWBOOK. </p>
	    </footer>
	</body>
</html>
